.headerdiscount{
    background-color:black;
    color:white;
    font-family: ariel;
    padding:2px;
}

.headertitle{
    background-color:#F7C289;
    color:black;
    font-style: italic;
    font-family: Dancing Script;
    padding:5px;left:200px;
}

.navbar1{
   background-color: #F7C289;
   font-size: 20px;
   font-style: bold;
   font-family: Ariel;
   min-height: 50px;
   margin-bottom: 0px;
   border: 1px solid transparent;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
}

.navbar-inverse {
    background-color: #F7C289;
    border-color: #F7C289;   
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color:#F7C289;
    background-color:black;
}

.navbar-nav {
    width: 100%;
    text-align: center;
}

@media (max-width: 767px){
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: black;
}

}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color:black;
    color:#F7C289;
}

.footer{ 
  	background-color:black;
  	color:white;
  	font-family: ariel;
  	padding:15px;
}

  .navbar-default {
    background-color:black;
    border-color: black;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color:black;
    color:#F7C289;
  /*for active element alone*/ 
}

.navbar-default .navbar-nav>li>a {
    color:#F7C289;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 2px solid transparent;
    color:#F7C289;
    font-size: 20px;
   font-style: bold;
   font-family: Ariel;
}


