.l2 {
    
    background-image: url("C:/Users/NEELASARASWATHI.V/Documents/Impact/Website/src/Assets/Images/L2.jpg"); 
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain ;
  }

.l4 {
    background-image: url("C:/Users/NEELASARASWATHI.V/Documents/Impact/Website/src/Assets/Images/L4.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain ;
  }

.ss3 {
   
    background-image: url("C:/Users/NEELASARASWATHI.V/Documents/Impact/Website/src/Assets/Images/SS3.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain ;
  }

.bg {
    background-image: url("C:/Users/NEELASARASWATHI.V/Documents/Impact/Website/src/Assets/Images/PopularcollectionsCP.jpg");
    height:200px;
    margin-top: -30px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-style: italic;
    font-size: 350%;
    font-family: Dancing Script;
  }

.carousel{
    background-color:black;
    color:#F7C289;
    margin-bottom: 20px;
  }

.mostpop{
    background-color:black;
    color:#F7C289;
    margin-bottom: 30px;
    padding:10px;
    font-family:Dancing script;
    font-style: italic; 
    font-size: 50px;
 }